<div>
  <%= will_paginate @user_kanjis %>
  <ul>
    <% for k in @user_kanjis %>
    <li><%= link_to k.kanji.character, kanji_path(k.kanji) %> - <%= k.srs %> - <%= k.kanji.sentence.count %> Sentences</li>
    <% end %>
  </ul>
  <%= link_to 'Refresh Kanji', kanjis_refresh_path %>
</div>
