<% content_for :title do %>Kanji Details: <%= @kanji.character %><% end %>
<dl>
<dt>Character</dt><dd><%= @kanji.character %></dd>
<dt>SRS Level</dt><dd><%= @user_srs.srs %></dd>
<dt>Meaning</dt><dd><%= @kanji.meaning %></dd>
</dl>

<h4>Sentences</h5>
<ul>
<% for s in @kanji.sentence.shuffle.slice(0,10) %>
<li><%= link_to s.content, s %></li>
<% end %>
</ul>
