<div class="row">
<div class="columns medium-3">
<h3>User Statistics</h3>
<dl>
  <dt>Total</dt><dd><%= current_user.kanji.count%></dd>
  <dt>Apprentice</dt><dd><%= current_user.user_kanji.where(srs: 'apprentice').count %></dd>
  <dt>Guru</dt><dd><%= current_user.user_kanji.where(srs: 'guru').count %></dd>
  <dt>Master</dt><dd><%= current_user.user_kanji.where(srs: 'master').count %></dd>
  <dt>Enlighten</dt><dd><%= current_user.user_kanji.where(srs: 'enlighten').count %></dd>
  <dt>Burned</dt><dd><%= current_user.user_kanji.where(srs: 'burned').count %></dd>
</dl>
</div>
<div class="columns medium-3">
  <h3>Study Queue</h3>
  <div>
    <dl>
      <dt>Lessons</dt><dd><%= @study_queue['lessons_available'] %></dd>
      <dt>Reviews</dt><dd><%= @study_queue['reviews_available'] %></dd>
      <dt>Next Hour</dt><dd><%= @study_queue['reviews_available_next_hour'] %></dd>
      <dt>Next Day</dt><dd><%= @study_queue['reviews_available_next_day'] %></dd>
      <dt>Reviews Available</dt><dd><%= time_ago_in_words(Time.at(@study_queue.fetch('next_review_date', 0))) %></dd>
    </dl>
  </div>
</div>
</div>

<div class="row">
  <h3>Add Short Text</h3>
  <%= form_tag(texts_path, method: 'post') do %>
  <%= label_tag(:text_name, 'Text Name') %>
  <%= text_field(:text, :name) %>
  <%= label_tag(:text_content, 'Text') %>
  <%= text_area_tag('text[content]') %>
  <%= submit_tag('Save Text', class: 'submit') %>
  <% end %>
</div>
