<div>
  <%= will_paginate @sentences %>
  <table>
    <thead>
      <tr><th>Sentence</th><th>Kanji Breakdown</th></tr>
    </thead>
    <tbody>
      <% for s in @sentences %>
      <% k_breakdown = s.kanji_score %>
      <tr>
        <td><%= link_to s.content, s %></td>
        <td>
          <%= k_breakdown.inject(0) {|s, k| s += k[1] } %> -
          <% for k in k_breakdown.keys %>
            <%= k %>:<%= k_breakdown[k] %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div>
    <h4>Quick Add Sentence</h4>
    <%= simple_form_for @sentence do |form| %>
    <%= form.input :content, autofocus: true %>
    <%= form.button :submit, 'Submit', class: 'submit' %>
  <% end %>
  </div>

</div>
