<% content_for :title do %>User Details<% end %>
<h3>User Details</h3>
<div class="form">
  <%= simple_form_for @user do |form| %>
    <%= form.input :apikey, autofocus: true %>
    <%= form.button :submit, 'Submit', class: 'submit' %>
  <% end %>
</div>
