<div>
      <%= will_paginate @user_vocabs %>
      <ul>
        <% for k in @user_vocabs %>
            <li><%= link_to k.vocabulary.character, vocabulary_path(k.vocabulary) %> - <%= k.srs %></li>
        <% end %>
      </ul>
      <%= link_to 'Refresh Vocabs', vocabularies_refresh_path %>
  </div>
