<% content_for :title do %>Vocab Details: <%= @vocabulary.character %><% end %>
<dl>
    <dt>Character</dt><dd><%= @vocabulary.character %></dd>
    <dt>SRS Level</dt><dd><%= @user_srs.srs %></dd>
    <dt>Meaning</dt><dd><%= @vocabulary.meaning %></dd>
</dl>

