<div>
  <h3>General Information</h3>
  <dl>
    <dt>Title</dt><dd><%= @text.name %></dd>
    <% if @text.document_file_name %>
    <dt>File</dt><dd><%= link_to @text.document_file_name, @text.document.url %></dd>
    <% end %>
    <dt>Character Count</dt><dd><%= @text.length %></dd>
  </dl>
</div>
<div>
  <h3>Sentences</h3>
  <% for s in @text.sentence %>
  <p><%= link_to s.content, s %></p>
  <% end %>
</div>
