<%# add navigation links to this file %>
<% if user_signed_in? %>
  <li><%= link_to 'Edit account', edit_user_registration_path %></li>
  <li><%= link_to 'Set Key', user_path(current_user) %></li>
  <li><%= link_to 'Kanji List', kanjis_path %></li>
  <li><%= link_to 'Sentences', sentences_path %></li>
  <li><%= link_to 'Texts', texts_path %></li>
  <li><%= link_to 'Vocabs', vocabularies_path %></li>
  <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'Sign in', new_user_session_path %></li>
  <li><%= link_to 'Sign up', new_user_registration_path %></li>
<% end %>
